a{
    text-decoration: none;
    color: none;
}
.area {
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 10px;
}
.area a{
    color: #191919;
}