.containerSidebar {
  background-color: #ffffff;
  text-align: center;
  padding-top: 10px;
}
.photoProfile{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.links{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.links a{
    display: inline-block;
    text-align: left;
    padding: .6rem;
    padding-left: 20px;
    width: 100%;
    /* background-color: aquamarine; */
    font-weight: bold;
    font-size: 1rem;
    color: #303030;
    border-bottom: 1px solid #ccc;
}

.links a:hover{
    background-color: rgb(221, 221, 221);
    transition: .5s all;
}

.iconSidebar{
    width: 20px;
    height: 20px;
}